*{
    padding: 0;
    margin: 0;
}

.headBar{
    max-height: 123px;
    padding: 0 0 2px 0;
    background: #000;
}

.headBar div{
    padding: 0;
}

.indexContent{
    padding-top: 62px;
    background: #fff ;

}

.indexContent .banner-bg{
    padding: 0;
    /*background-image: url('../../../images/home/index/bg1.jpg');
    background-repeat:no-repeat ;
    background-position: center;
    background-size: 100% 100%;*/
}

.logoImg img{
    max-width: 156px;
}

.searchBox{
    width: 180px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    top: 15px;
}

.searchBox input{
    width: 100%;
    line-height: 30px;
    border-radius: 30px;
    color: #fff;
    background: #D51B51;
    font-size: 14px;
    margin: 0;
    padding: 0 30px 0 10px;
    border: none;
    outline: none;
}

.searchBox #souI{
    position: absolute;
    right: 10px;
    top: 5px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #fff;font-size:14px;
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color:#fff;font-size:14px;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color:#fff;font-size:14px;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color:#fff;font-size:14px;
}

/*---------------------导航栏---------------------*/
#navbar{
    color: #777;
    background: #000;
    height: auto;
    z-index: 99999;
    /*background-image: url("../../../images/home/index/nav.png");*/
}

#navbar .row{
    margin: 0;
}

#navbar a{
    color: #fff;
    padding: 0;
    line-height: 40px;
}

#nav{
    font-size: 16px;
}

/*#ul .m-drop{
    border:none;
    box-shadow: none;
    background: rgba(255,255,255,1);
}*/

#ul{
    margin: 10px 0;
}

#ul .m-drop li a{
    text-align: center;
    line-height: 30px;
}

#ul li a:hover{
    color: #fff;
    border-radius: 5px;
    background: none;
}

#ul li a.sta{
    color: #fff;
    border-radius: 5px;
}

#ul a.navC{
    color: #666;
    border-radius: 5px;
}

#ul a.navC:hover{
    color: #fff;
    border-radius: 5px;
}

#ul li a div.line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
}

#ul li a:hover div.line{
    animation: line 0.5s linear ;
}
@keyframes line {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}


#navBut {
    margin-top: 13px;
    margin-right: 15px;
}

#navBut span{
    background: #666;
}

/*-------------------banner-----------------*/
#banner{
    padding: 0;
    height: auto;
    margin-top: 63px;
}
#banner img{
    width: 100%;
}

#banner .bannerBox{
    overflow: hidden;
}

#banner .imgs{
    width: 100%;
    height: 100%;
}

#banner .paginationBox{
    min-height: 40px;
    background: #fff;
    padding: 0;
}

#banner .paginationBox div{
    padding: 0;
    line-height: 60px;
    text-align: center;
    outline: none;
}

#banner .paginationBox .bbx{
    position: absolute;
    top: -20px;
    left: 0;
    z-index: 1111;
}

#banner .swiper-pagination-bullet {
    display: block;
    width: 25%;
    height: auto;
    border-radius: 0;
    font-size: 16px;
    color:#999;
    opacity: 1;
    background: #000;
}

#banner .swiper-pagination-bullet-active {
    color:#fff;
    background: #D61B52;
}
/*-------------------------------------------*/
/*-------------------------产品轮播---------------------*/
.proTab{
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    margin: 30px 0;
}

.proTab span{
    padding: 0 15px 11px 15px;
    border-bottom: 2px solid #fff;
    cursor: pointer;
    user-select: none;
}

.proTab span.activeSpan{
    border-bottom: 2px solid #666;
}

.indexBox {
    overflow: hidden;
    min-height: 100px;
    margin-bottom: 15px;
}

.indexBox a{
    color: #333;
    text-decoration: none;
}

.indexBox .indexList{
    width: 100%;
}

.indexBox .indexList img{
    display: block;
    max-width:100%;
    height: auto;
    margin: 0 auto;
    border-radius: 2px;
}

.indexBox .indexList div{
    width: 100%;
    line-height: 30px;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}

.indexBox .indexList div span{
    padding: 5px 15px;
}

.indexBox .indexList .describe{
    font-size: 14px;
    color: #999;
    margin-top: 0;
}

.swiper-button-next{
    top: 150px;
    right: -20px;
}

.swiper-button-prev{
    top: 150px;
    left: -20px;
}

.indexPro{
    display: none;
}

.indexPro:first-child{
    display: block;
}

.swiper-pagination-bullets{
    text-align: center;
}

/*----------------金色套装------------------*/

.goldSuit{
    margin-top: 15px;
    height: auto;
    padding: 0;
    margin-bottom: 15px;
}

.goldSuit img{
    display: block;
    width: 100%;
    height: 700px;
}

/*----------------pulata面膜系列-----------*/

.indexSale{
    padding: 0;
}

.indexSale div{
    padding: 0;
}

.indexSale .saleImg img{
    max-width: 530px;
    width: 100%;
    height: auto;
    float: right;
}

.indexSale .saleImgs img{
    float: left;
}

.indexSale .saleCont{
    position: relative;
    height: 100%;
}

.indexSale .saleCont .box{
    position: absolute;
    top: 50%;
    margin-top: 167px;
}

.indexSale .saleCont .box div{
    padding-left: 50px;
}

.indexSale .saleConts .box div{
    padding-right: 50px;
    padding-left: 0;
    text-align: right;
}

.indexSale .saleCont .title{
    line-height: 50px;
    font-size: 36px;
    font-family: SimSun-ExtB;
}

.indexSale .saleCont .describe{
    line-height: 30px;
    font-size: 24px;
    color: #666;
    margin-top: 15px;
    margin-bottom: 30px;
}

.indexSale .saleCont .describe span{
    padding: 5px 0;
    border-bottom: 1px solid #999;
}

.indexSale .saleCont .box .checkout{
    line-height: 42px;
    text-align: center;
    width: 160px;
    background: #000;
    color: #fff;
    font-family: 微软雅黑;
    padding: 0;
    font-size: 18px;
    letter-spacing: 3px;
}

.indexSale .saleCont .box .checkout a{
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
}

.indexSale .saleConts .checkout{
    float: right;
}

/*------------------------------------navBottom---------------------------------*/

.navBottom{
    margin-top: 10px;
    background: #000;
    color: #fff;
    line-height: 40px;
    padding: 0;
    text-align: center;
}



.navBottom .title{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
}

.navBottom .introduction{
    line-height: 30px;
    min-height: 160px;
}

.navBottom .navBot div div a{
    text-decoration: none;
    color: #fff;
}


.navBottom .navBot div.box{
    padding-left: 44px;
}

.navNum{
    padding-top: 80px;
    font-size: 12px;
}

.navNum a{
    color: #fff;
}

.navBottom .navNum{
    color: #fff;
    line-height: 50px;
    text-align: center;
    position: relative;
}

.navBottom .navNum .phone{
}

.productBanner{
    padding: 0;
    margin-top: 0px;
}

.navBottom .navBot{
    position: relative;
}

#scrollBox{
    position:fixed;
    width: 50px;
    height: auto;
    top: 45%;
    right: 6%;
    background: #DF385F;
    border-radius: 5px;
    display: none;
}

#scrollBox .sbox{
    width: 40px;
    height: auto;
    margin: 5px 5px;
    border-bottom: 1px solid #fff;
    position: relative;
    cursor: pointer;
}

#scrollBox .sbox .content{
    width: 80px;
    position: absolute;
    left: -80px;
    top: 0;
    height: 40px;
    background: #DF385F;
    color: #fff;
    text-align: center;
    line-height: 40px;
    display: none;
}

#scrollBox .sbox .content a{
    color: #fff;
    text-decoration: none;
}

#scrollBox .sbox:hover > .content{
    display: block;
}

#scrollBox div:last-child{
    border-bottom: none;
}

#scrollBox div img{
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}

#scrollBox #fcode {
    width: 100px;
    height:100px;
}

#qrcode{
    position: absolute;
    left: -40px;
    width: 60px;
    height: 60px;
    top: -29px;
    background: #fff;
    box-shadow: 0 0 3px #666;
}

#weiCode{
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    cursor: pointer;
}

#weiCode img{
    width: 100%;
}

#weiCode .minCode{
    position: absolute;
    top: -200px;
    left: -60px;
    width: 200px;
    height: 200px;
    display: none;
    opacity: 0;
}

#weiCode:hover .minCode{
    display: block;
    opacity: 1;
}

/*-----------------------手机样式调整----------------------*/

@media (max-width: 767px) {
    .headBar{
        max-height: 100%;
    }
    #nav{
        top: -20px;
    }
    .headBar{
        /*height: 102px;*/
    }
    #ul{
        /*background: #999;*/
    }
    #ul a.navC{
        color: #fff;
    }
    #ul .m-drop{
        width: 100%;
        float: left;
        position: relative;
        box-shadow: none;
        border: none;
        background: none;
        background: rgba(0,0,0,0.4);
    }
    #ul .m-drop li a{
        line-height: 30px;
        text-align: center;
        font-size: 14px;
        color: #fff;
    }

    .indexContent{
        padding-top: 184px;
    }

    #ul li a div{
    }
    #logo{
        position: absolute;
        top: -34px;
    }
    #banner{
        margin-top: 0;
    }

    #saleProduct .saleContent .right{
        height: auto;
    }

    .contentBox .contentCls .right .proBox{
        width: 50%;
    }

    #minBanner .imgBox{
        padding: 0 15px 0 15px;
    }

    #minBanner .imgBox:first-child{
        padding: 0 15px 0 15px;
    }

    #minBanner .imgBox:last-child{
        padding: 0 15px 0 15px;
    }

    #productList .list:first-child{
        padding:0 15px 0 15px;
    }

    #productList .list:last-child{
        padding:0 15px 0 15px;
    }

    #banner .swiper-pagination-bullet {
        width: 50%;
    }
}
@media (max-width: 1170px) {

    .navBottom .navNum .phone{
        right: 10%;
    }
}





